body{
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}
.naving{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
header{
  background-color: black;
}
.container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap:40px;
}
.container1 input{
  height: 30px;
  width: 79%;
  margin-top:10px;
  border-color: black;

}
.container1 button{
  margin-top:10px;
  background-color: black;
  color: white;
  margin-left:30pc;
  padding: 10px;
}
.peras h1{
  font-size: 50px;
}
.peras p{
  font-size: 20px;
}
.peras h2{
  font-size: 40px;
}
.peras button{
  width: 100px;
}
.container2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 70px;
}
.container2 h2{
  font-size: 40px;
}
.container2 p{
  font-size: 25px;
}
.p p {
  margin-top: 100px;
}
.container3{
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 1fr 1fr;
}
.container3 h1{
  font-size: 40px;
}
.container3 p{
  font-size: 30px;
}
.input h2{
  font-size: 35px;
}
.input input{
height: 30px;
  width: 79%;
  margin-top:10px;
  border-color: black;
}
.input button{
  margin-top:10px;
  background-color: black;
  color: white;
  margin-left:33pc;
  padding: 10px;
}
footer{
  background-color: rgb(255, 204, 182);
}